/* 
/* body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
} */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.center{
  text-align: center;
}



/* --------------------------------- */
/* Heading Styling  */

h2{
  text-align: center;
  color: #017572;
}

#signin-header{
  color: white;
}

/* End of Heading Styling  */
/* --------------------------------- */

/* Button Styling  */
.btn btn-lg btn-primary btn-block{
 width: 10%;
}
/* End of Button Styling  */

/* --------------------------------- */
/* Form Styling  */
.form-signin {
  min-width: 300px;
  max-width: 330px;
  padding: 15px;
  margin: 0px 10px 0px 10px;
  color: #017572;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-control{
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  margin: 5px 0px 5px 0px;
}



/* End of Form Styling */
/* --------------------------------- */


/* --------------------------------- */
/* Button Styling */
#btn-primary{
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 8px;
  box-shadow: #545454;
}

#btn-secondary{
  background-color: #ffffff; /* Green */
  border: 1px;
  border-color:
  black;
  border-radius: 5px;
  color: #545454;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 5px;
  box-shadow: #545454;
}

a:-webkit-any-link {
  text-decoration: none;
}

#btn-primary:hover{
  background-color: #1188e3;
  border: #545454;
  color: white;
  color: #b02020;
}


#btn-secondary:hover{
  background-color: #1188e3;
  border: #545454;
  color: white;
}

#btn-delete-account{
  background-color: #ef6262; /* Green */
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
  
#btn-change-image{
  background-color: #4682fb; /* Green */
  color: white;
  padding: 2px 5px 2px 5px;
  margin-top:5px;
  margin-bottom:10px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

/* End of Button Styling */
/* --------------------------------- */



/* Sign in Modal Styling */

.signin-modal {
  background: blue;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 1px 1px;
}
#signin-modal {
  background: blue;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 1px 1px;
}

.container{
  display: flex;
  justify-content:
  center;
  max-width: 100%;
  align-items: center;
  flex-wrap: wrap;
}

.vertical-container{
  display: inline-flex;
  flex-direction:column;
  justify-content: space-around;
}

.flex-vertical-container{
  display: flex;
  flex-direction:
  column;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-bottom: -15px;
}

.spacer-less{
  height: 15vh;
}

.spacer-more{
  height: 25vh;
}

.restaurant-card{
  display: flex;
  flex-direction:
  column;
  justify-content: start;
  /* align-items:left; */
  align-content:
  center;
  max-width: 250px;
  min-width: 250px;
  margin: 5px;
  border: #545454 solid 2px;
  border-radius: 7px;
}

.card-img{
  display: block;
  /* margin: 0 auto; */
  max-width: 101%;
  min-width: 101%;
  border-radius: 5px;
  position: relative;
  margin: -1px;
}

.restaurant-description{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 200px;
  padding: 5px 10px 5px 10px;
  overflow: hidden;
  /* white-space: nowrap; */
  text-overflow: ellipsis;
}

.restaurant-rating{
  display: flex;
  padding: 10px 0px 15px 0px;
  flex-direction: column;
  /* align-content: end; */
  vertical-align: bottom;
  align-items: center;
}

.restaurant-paragraph{
  overflow: hidden;
  font-size: 12px;
  
}


#signin-modal-container{
  display: flex;
  justify-content: center;

} 
#signin-container{
  width:fit-content;
}

#newuser{
  text-align:center;
  margin-top:15px;
  margin-bottom: 0px;
  color:white;
}



/* Search Bar */
.searchbar {
    background: #ffffff;
    border-radius: 8px;
    padding: 4px 20px 4px 20px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 3px 10px 0 rgb(0 0 0 / 19%);
    margin-bottom: 10px;
}

#search-button{
  background-color: #d06262; /* Green */
  border: 2px black;
  border-radius: 14px;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  box-shadow: #545454;
}

#search-bar{
  border-radius: 8px;
  min-width: 200px;
  padding-left: 10px;
  font-size: 16px;
}

#search-container{
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content:center;
  margin-top: 8px;
  margin-bottom: -10px;
}



/* --------------------------------- */
/* Header and Nav Styling */
nav {
  width: 100%;
  background-color: #2360c9;
  margin-bottom: 20px;
  padding: 4px 10px 4px 30px;
}

.logo {
  display: inline-block;
  max-height: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  
}

.nav-item a {
  display: inline-block;
  padding: 5px 15px;
  text-decoration: none;
  color: white;
}

.nav-item:hover {
  background-color: white;
  border-radius: 4px;
  
}

.nav-item:hover a {
  color: rgb(0, 38, 141);
  text-decoration: underline;
}

.logo img {
  width: 175px;
  vertical-align: middle;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* End of Header and NavStyling */
/* --------------------------------- */

/* Footer Styling */

footer {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px 8px 20px;
  width: 100%;
  background-color: #2360c9;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
}  

.footer-icon{
  display: inline-block;
  max-height: 25px;
}
#icon-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

#footer-copyright{
  display: inline-block;
  max-height: 25px;
  font-size: 12px;
  color: rgb(158, 158, 158);
}

/* Table Styling */
th {
  text-align: left;
}

table {
  border-spacing: 30px;
}

tr:hover {
  background-color: #D6EEEE;
}

#rating{
   text-align: center;
}