/* 
/* body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
} */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



/* --------------------------------- */
/* Heading Styling  */
h2{
  text-align: center;
  color: #017572;
}

#signin-header{
  color: white;
}

/* End of Heading Styling  */
/* --------------------------------- */

/* Button Styling  */
.btn btn-lg btn-primary btn-block{
 width: 10%;
}
/* End of Button Styling  */

/* --------------------------------- */
/* Form Styling  */
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  color: #017572;
  display: flex;
  flex-direction: column;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 0px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: 0px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-color:#017572;
}

.form-signin input[type="password"] {
  margin-bottom: 20px;
  margin-top: -10px;
  border-top-left-radius: 5;
  border-top-right-radius: 5;
  border-color:#017572;
}
/* End of Form Styling */
/* --------------------------------- */


/* --------------------------------- */
/* Button Styling */
#btn-primary{
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#btn-create-account{
  background-color: #ffffff; /* Green */
  border: 1px;
  border-color:black;
  border-radius: 5px;
  color: #545454;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}

#btn-delete-account{
  background-color: #ef6262; /* Green */
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
  
#btn-change-image{
  background-color: #4682fb; /* Green */
  color: white;
  padding: 2px 5px 2px 5px;
  margin-top:5px;
  margin-bottom:10px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

/* End of Button Styling */
/* --------------------------------- */



/* Sign in Modal Styling */

.signin-modal {
  background: blue;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 1px 1px;
}
#signin-modal {
  background: blue;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 1px 1px;
}

.container{
  display: flex;
  justify-content:center;
  max-width: 100%;
  flex-wrap: wrap;
}

.vertical-container{
  display: inline-flex;
  flex-direction:column;
  justify-content: space-around;
}

.restaurant-card{
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  padding: 15px 5px 15px 5px;
  align-items:left;
  align-content:center;
  max-width: 250px;
}

.card-img{
  max-width: 250px;
}

.review-card{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  max-width: 60%;
  max-height: 5%;
  border: #6e6e6e
  border-size: 1px
}





#signin-modal-container{
  display: flex;
  justify-content: center;

} 
#signin-container{
  width:fit-content;
}

#newuser{
  text-align:center;
  margin-top:15px;
  margin-bottom: 0px;
  color:white;
}


/* --------------------------------- */
/* Header and Nav Styling */
nav {
  width: 100%;
  background-color: darkgreen;
  padding-left: 30px;
  padding-right: 10px;
  margin-bottom: 20px;
}

.logo {
  display: inline-block;
  max-height: 25px;
}

.nav-links {
  list-style: none;
  display: flex;
  
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}

.nav-item:hover {
  background-color: white;
}

.nav-item:hover a {
  color: darkgreen;
}

.logo img {
  width: 175px;
  vertical-align: middle;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* End of Header and NavStyling */
/* --------------------------------- */

/* Footer Styling */

footer {
  display: inline-flex;
  justify-content: space-between;
  padding: 15px 20px 15px 20px;
  position: fixed;  
  left: 0px;  
  bottom: 0px;  
  right: 0px;   
  width: 100%;  
  background-color: gray;  
  color: white;  
  text-align: center;  
}  


/* Table Styling */
th {
  text-align: left;
}

table {
  border-spacing: 30px;
}

tr:hover {
  background-color: #D6EEEE;
}

#rating{
   text-align: center;
}